/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2016, 5:32:05 PM
    Author     : Halim
*/
body{
    
   
  
}

.logibox{
    width: 300px;
    margin: auto;
    border: 1px solid silver;
    padding: 20px;
    min-height: 290px;
    margin-top: 200px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-left: 80px;
    font-size: 0.85em;
    background: #FCFCFC;
}


.registerbox{
    width: 600px;
    margin: auto;
    border: 1px solid silver;
    padding: 20px;
    min-height: 200px;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 80px;
    padding-bottom: 20px;
    background: #FCFCFC;
    border-radius: 7px;
    font-size: 0.85em;
}

.passbox{
    width: 300px;
    margin: auto;
    border: 1px solid silver;
    padding: 20px;
    min-height: 220px;
    margin-top: 200px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 7px;
    padding-left: 80px;
    font-size: 0.85em;
    background: #FCFCFC;
}


h1{
    text-align: center;
}
#footer{
    text-align: center;
}

.error_box{
    margin:auto; 
    margin-top:75px; 
    width:25%; 
    height: 30px; 
    border: 1px solid #FF6B6B; 
    padding: 20px; 
    font-size: 0.9em; 
    border-radius: 5px; 
    background: #FF7C7C; 
    position: absolute;
    margin-left: 35%;
}